<body style="padding: 50px">
  <img src="data:image/png;base64, {{logoMM}}" alt="Manhattan Manor's Logo" style="height: 100px;" />
  <img src="data:image/png;base64, {{logoRosie}}" alt="Rosie O'Grady's Logo" style="height: 80px; margin-left: 50px;" />

  <h1 style="text-align: center">
    Manhattan Manor's and Rosie O' Grady's New Year's Eve Celebration - Times
    Square
  </h1>

  <p
    style="
      text-align: right;
      font-weight: bold;
      display: block;
      font-size: 20px;
    "
  >
    December 31, 2021
  </p>

  <p style="font-size: 20px">
    To whom it may concern, <br />
    {{guestFirstName}} {{guestLastName}} is a guest at our restaurant and venue
    for the New Year’s Eve Celebration.
    <br /><br />
    Please allow this person to enter the Times Square area to access our
    property.<br />
    If you have any questions, do not hesitate to contact me.
    <br /><br />
    Thank you.<br />
    Mike Carty<br />
    212-582-2975<br />
  </p>

  <p style="text-align: center; font-size: 15px; margin-top: 40px">
    Manhattan Manor and Rosie O’Gradys <br />
    800 7th Ave at 52nd St<br />
    New York NY 10019<br />
    USA
    <br /><br />
    212 – 582-2975<br />
  </p>
</body>
