<body style="padding: 50px">
  <img
    src="data:image/png;base64, {{logoMM}}"
    alt="Manhattan Manor's Logo"
    style="height: 100px"
  />
  <img
    src="data:image/png;base64, {{logoRosie}}"
    alt="Rosie O'Grady's Logo"
    style="height: 80px; margin-left: 50px"
  />

  <h1 style="text-align: center; margin-top: 50px">
    Manhattan Manor and Rosie O' Grady's <br />
    <span style="font-size: 20px"
      >New Year's Eve Celebration - Times Square</span
    >
  </h1>

  <p style="text-align: right; display: block; font-size: 20px">
    December 31, 2021
  </p>

  <p style="font-size: 20px">
    To whom it may concern, <br /><br />
    {{guestFirstName}} {{guestLastName}} is a guest at our restaurant and venue
    for the New Year’s Eve Celebration.
    <br /><br />
    Please allow this person to enter the Times Square area to access our
    property.<br /><br />
    If you have any questions, do not hesitate to contact me.
    <br /><br />
    Thank you.<br /><br />
    Amanda Smith<br />
    646-627-4329<br />
  </p>

  <table style="margin-top: 100px; width: 100%">
    <tbody>
      <tr>
        <td style="text-align: left; font-size: 15px; margin-top: 40px">
          Manhattan Manor <br />
          201 West 52nd St At 7th Ave <br />
          New York NY 10019 <br />
          USA <br />
        </td>
        <td style="text-align: right; font-size: 15px; margin-top: 40px">
          Rosie O’Gradys <br />
          800 7th Ave at 52nd St <br />
          New York NY 10019 <br />
          USA
        </td>
      </tr>
    </tbody>
  </table>

  <p style="text-align: center; font-size: 15px; margin-top: 20px">
    212-582-2975
  </p>
</body>
